[Unit]
Description=Generate SSPanel config for custom V2Ray 4.32.1 backend
After=network-online.target mariadb.service mysql.service
Wants=network-online.target

[Service]
Type=oneshot
WorkingDirectory=/opt/sspanel-vmess-single-port-backend
ExecStart=/opt/sspanel-vmess-single-port-backend/.venv/bin/sspanel-vmess-backend -c /etc/sspanel-vmess-backend/config.toml
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
